@import url('css/header.css');
@import url('css/seção1.css');
@import url('css/seção2.css');
@import url('css/seção3.css');
@import url('css/seção4.css');
@import url('css/seção5.css');
@import url('css/footer.css');


:root {
    --cor-fonte-principal: #667085;
    --cor-botão: #8E2424;
    --cor-fonte-botão: #FFFFFF;
    --cor-subtitulo: #101828;
    --cor-rodape: #98A2B3;

    --cor-fundo-rodape: #F9FAFB;
    --cor-fundo-vagas: rgba(142, 36, 36, 0.05);
    --cor-fundo-depoimento: rgba(195, 25, 25, 0.03);

    --cor-borda: #D0D5DD
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

